@import url('https://fonts.googleapis.com/css2?family=Roboto');
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000 !important;
    text-align: left;
}
.cat-img {
    width: 400px !important;
    height: 200px  !important;
    display: block;
  margin-left: auto;
  margin-right: auto;
}