<div class="row p-4">
    <img src="/assets/img/cat-vaccine.jpg" class="cat-img">
</div>
<div class="row p-4">
    <h3>Grooming</h3>
    <p>Making sure that your pet is properly groomed and in good condition will be necessary so you can ensure that they’re healthy and presentable. If you’re having problems getting your pet efficiently groomed or just don’t have enough time to spare doing the grooming chores by yourself, calling Peebles Humane Society is a great alternative that you can go for. We’re a well-known and reputable pet grooming service provider who offers reliable pet care services that you need to maintain the appearance and health of your pets. We’ll make sure you get dependable grooming assistance when it comes to any grooming service needs.</p>
</div>
<div class="row p-4">
    <h3>Microchipping</h3>
    <p>As part of our mission to protect the animals we do offer microchipping to the public. Microchips are inserted underneath the skin, between the shoulder blades using an injection. This identification cannot be lost. You may bring your pet to the Admission entrance located on the East side of the building daily between 11-5:30 pm. The cost for this procedure is $40. Peebles will register the Microchip to the pet owner. You will be required to fill out information pertaining to you and your pet. Microchipping is a fairly quick procedure, but please allow 15 minutes for the procedure.</p>
</div>
<div class="row p-4">
    <h3>Veterinarian Services</h3>
    <p>Peebles Humane Society operates an open hospital. This means that our team welcomes owners to be with their animals during any medical procedure, whether a simple vaccination or a complex surgery. If you would like to watch your pet's surgery, please let us know. We encourage clients to stay and ask questions. We believe that knowledgable clients are excellent patient advocates! Does your pet need to be hospitalized? Hospitalized patients are monitored 24 hours a day by our qualified team. Pets feel better when family visit so we highly encourage visitations. Patients do need rest so after hours visitations are permitted only with doctor consent.
        </p>
</div>
<div class="row p-4">
    <h3>Vaccine Services</h3>
    <p>At Peebles Humane Society, we believe core vaccinations are one of the primary ways in which cats and dogs can be protected from contracting devastating diseases. We work closely with pet owners to assess the lifestyle and risk factors of each pet so that we can customize a vaccination program that is most appropriate for them. Immunizing your pet is the first line of defense against infectious diseases, and helps ensure they live a long, healthy life.</p>
</div>
