<div class="row p-2" *ngFor="let photo of data.photos, let i = index">
    <div class="col" *ngIf="photo">
        <img [src]="photo">
    </div>
    <div class="col" *ngIf="photo">
        <mat-icon style="cursor: pointer;" (click)="deletePhoto(i)">delete</mat-icon>
    </div>
</div>
<input type="file" #photo (change)="addPhoto(photo.files![0])">
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="savePhotos()">Save</button>
  </mat-dialog-actions>