<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="petid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pet ID </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.petid}} </td>
      </ng-container>
  
      <!-- Breed Column -->
      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Calendly Event </th>
        <td mat-cell *matCellDef="let dataSource"> <a [href]="dataSource.event_url" target="_blank">View Event</a></td>
      </ng-container>
  
      <!-- Age Column -->
      <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.firstname}} </td>
      </ng-container>
  
      <!-- Sex Column -->
      <ng-container matColumnDef="lname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.lastname}} </td>
      </ng-container>
  
      <!-- Type Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.email}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="dln">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DLN </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.dln}} </td>
      </ng-container>
  
      <!-- Detialed Age Column -->
      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.birthday | date: 'MM-dd-YYYY'}} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="spousefirst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Spouse First </th>
        <td mat-cell *matCellDef="let dataSource"> {{dataSource.spousefirst}} </td>
      </ng-container>
  
      <!-- Cover Image Column -->
      <ng-container matColumnDef="spouselast">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Spouse Last </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.spouselast}}</td>
      </ng-container>
  
      <!-- Icon Image Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.phone}} </td>
      </ng-container>
  
      <!-- Photos Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.address}}</td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.city}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.state}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="zip">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zip Code </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.zip}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="home">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Home </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.home}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="landlord">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Landlord </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.landlord}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="hometype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Home Type </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.hometype}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="moving">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Moving </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.moving}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="residents">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Residents </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.residents}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="children">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Children </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.children}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="animals">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Animals </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.animals}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.status}}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="appdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Date </th>
        <td mat-cell *matCellDef="let dataSource">{{dataSource.appdate | date: 'MM-dd-YYYY'}}</td>
      </ng-container>
  
      <!-- Archive Column -->
      <ng-container matColumnDef="unarchive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let dataSource, let i = index;" class="icon" (click)="unarchiveApp(i)">
          <mat-icon>publish</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row
        *matHeaderRowDef="['id', 'petid', 'event', 'fname', 'lname', 'email', 'dln', 'birthday', 'spousefirst', 'spouselast', 'phone', 'address', 'city', 'state', 'zip', 'home', 'landlord', 'hometype', 'moving', 'residents', 'children', 'animals', 'status', 'appdate', 'unarchive']">
      </tr>
      <tr mat-row
        *matRowDef="let row; columns: ['id', 'petid', 'event', 'fname', 'lname', 'email', 'dln', 'birthday', 'spousefirst', 'spouselast', 'phone', 'address', 'city', 'state', 'zip', 'home', 'landlord', 'hometype', 'moving', 'residents', 'children', 'animals', 'status', 'appdate', 'unarchive'];">
      </tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="25">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #paginator
      (page)="correctIndex(paginator.pageSize, paginator.pageIndex)"></mat-paginator>
  </div>
