<div class="row hero">
    <div class="col intro">
        <mat-card class="intro card">
        <h1>Pick your next best friend!</h1>
        <h3>At Peebles Humane, we not only care<br>
        for our pets, we care for our<br>
        pet parents as well!</h3>
        <button mat-raised-button color="primary" routerLink="adoptions">See available pets</button>
        </mat-card>
    </div>
</div>
<div class="mx-auto tag p-3"> 
    <h1>Welcome to Peebles Humane Society!</h1>
    <h3>We are a non-profit humane society that specializes in finding your new best friend! Whether you are looking for a cat,
    dog, bird, rabbit, etc., we have a mission to cater as much to our pets as we do potential owners. We take the due dillegence to
    make sure that our pets are going to the best place possible.</h3>
</div>
<div class="row services p-3">
    <h1>Services</h1>
    <div class="col groom">
        <mat-card>
            <mat-icon>content_cut</mat-icon>
            <h3>Grooming</h3>
            <p>We offer grooming services with nail clipping, trimming, and shampooing for your best friend!</p>
            <button mat-raised-button color="primary" routerLink="services">Learn more</button>
        </mat-card>
    </div>
    <div class="col chip">
        <mat-card>
            <mat-icon>memory</mat-icon>
            <h3>Microchipping</h3>
            <p>We offer microchipping so that you and your furry friend can rest easy with an information tag that can permanently be associated with you.</p>
            <button mat-raised-button color="primary" routerLink="services">Learn more</button>
        </mat-card>
    </div>
    <div class="col vet">
        <mat-card>
            <mat-icon>medical_services</mat-icon>
            <h3>Veterinarian Services</h3>
            <p>We offer vet services so that your best friend can stay healthy and safe throughout their years and lifetime.</p>
            <button mat-raised-button color="primary" routerLink="services">Learn more</button>
        </mat-card>
    </div>
    <div class="col shots">
        <mat-card>
            <mat-icon>health_and_safety</mat-icon>
            <h3>Vaccine Services</h3>
            <p>We offer vaccines so that your best friend can stay healthy and up to date on all the medicines that are neccessary to be a happy, healthy pet.</p>
            <button mat-raised-button color="primary" routerLink="services">Learn more</button>
        </mat-card>
    </div>
</div>
