table {
    width: 100%;
}
.icon {
    cursor: pointer;
}
mat-icon {
    font-family: 'Material Icons' !important;
    font-size: 24px !important;
}
mat-form-field {
    width: 100%;
}
.mat-elevation-z8 {
    overflow-x: auto;
}
.mat-column-id {
    min-width: 50px;
}
.mat-column-petid {
    min-width: 50px;
}
.mat-column-event {
    min-width: 125px;
}
.mat-column-fname {
    min-width: 125px;
}
.mat-column-lname {
    min-width: 150px;
}
.mat-column-email {
    min-width: 175px;
}
.mat-column-dln {
    min-width: 100px;
}
.mat-column-birthday {
    min-width: 125px;
}
.mat-column-spousefirst {
    min-width: 125px;
}
.mat-column-spouselast {
    min-width: 125px;
}
.mat-column-phone {
    min-width: 150px;
}
.mat-column-address {
    min-width: 175px;
}
.mat-column-city {
    min-width: 100px;
}
.mat-column-state {
    min-width: 75px;
}
.mat-column-zip {
    min-width: 100px;
}
.mat-column-home {
    min-width: 75px;
}
.mat-column-landlord {
    min-width: 125px;
}
.mat-column-hometype {
    min-width: 75px;
}
.mat-column-moving {
    min-width: 200px;
}
.mat-column-residents {
    min-width: 200px;
}
.mat-column-children {
    min-width: 200px;
}
.mat-column-animals {
    min-width: 200px;
}
.mat-column-status {
    min-width: 100px;
}
.mat-column-appdate {
    min-width: 125px;
}
.mat-column-billrequest {
    min-width: 175px;
}
.mat-column-deny {
    min-width: 75px;
}
.mat-column-approve {
    min-width: 75px;
}
.mat-column-archive {
    min-width: 75px;
}