<div *ngIf="admin">
    <mat-drawer-container class="nav-container">
        <mat-drawer mode="side" opened class="drawer p-2">
            <div class="row">
                <span routerLink="roster" class="link">Adoption Roster Admin<mat-icon>list</mat-icon></span>
            </div>
            <div class="row">
                <span routerLink="admins" class="link">Admin Control<mat-icon>lock</mat-icon></span>
            </div>
            <div class="row">
                <span routerLink="apps" class="link">Application Admin<mat-icon>description</mat-icon></span>
            </div>
            <div class="row">
                <span routerLink="billing" class="link">Billing Admin<mat-icon>payment</mat-icon></span>
            </div>
            <div class="row">
                <span routerLink="roster-archive" class="link">Roster Archive<mat-icon>archive</mat-icon></span>
            </div>
            <div class="row">
                <span routerLink="app-archive" class="link">Application Archive<mat-icon>inventory_2</mat-icon></span>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div class="p-4">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>